@model IEnumerable<YemekSepetiWeb.Models.SiparisDetay>

@{
    ViewData["Title"] = "Index";
}

<h1>Sipariş Detayları</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Adet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BirimFiyat)
            </th>
            <th>
                Sipariş No
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Urun)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Adet)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BirimFiyat)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Siparis.SiparisId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Urun.UrunAdi)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.DetayId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.DetayId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.DetayId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
